/* styles.css */

/* Header Styles */
header {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    background-color: #F9AD59;
    color: white;
    z-index: 1000;
}


nav {
    width: 200px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav a {
    color: white;
    margin-right: 1rem;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/* Logo Styles */
.logo {
    text-align: center;
    font-size: 0;
    color: #3C2C32;
}

.logo img {
    width: 120px; /* Ajustez la largeur selon vos besoins */
    height: 120px; /* Ajustez la hauteur selon vos besoins */
    margin: 0; /* Réinitialise la marge du logo */
}

.menuDroite{
    width: 200px;
}

/* Content Section Styles */
.container {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 1rem;
}


.contIMG
{
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}



/* Footer Styles */
footer {
    margin-top: auto;
    background-color: #F9AD59;
    color: white;
    text-align: center;
    padding: 1rem;
}