/* styles.css */

/* Header Styles */
header {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    /* space-between | space-around | space-evenly | stretch*/
    align-items: center;
    background-color: #F9AD59;
    color: white;
    z-index: 1000;
}

.header {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    /* space-between | space-around | space-evenly | stretch*/
    align-items: center;
    background-color: #F9AD59;
    color: white;
    z-index: 1000;
}

/*nav {*/
/*    !*width: 200px;*!*/
/*    !*display: flex;*!*/
/*    !*justify-content: space-between;*!*/
/*}*/

@media all and (max-width: 959px) {
    .leftMenu {
        display: none;
    }

    .rightMenu {
        display: none;
    }

    .centerMenu {
        margin-right: 10px;
    }

    /*.centerMenu {*/
    /*    display: none;*/
    /*}*/
    /*.menu {*/
    /*    display: flex;*/
    /*    flex-direction: row;*/
    /*    list-style-type: none;*/
    /*    margin-top: 50px;*/
    /*    padding: 0;*/
    /*}*/

    .menu > li {
        margin: 0 1rem;
        overflow: hidden;
    }

    .menu-button-container {
        margin-left: 20px;
        display: none;
        height: 100%;
        width: 30px;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle {
        display: none;
    }

    .menu-button,
    .menu-button::before,
    .menu-button::after {
        display: block;
        background-color: #fff;
        position: absolute;
        height: 4px;
        width: 30px;
        transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
        border-radius: 2px;
    }

    .menu-button::before {
        content: '';
        margin-top: -8px;
    }

    .menu-button::after {
        content: '';
        margin-top: 8px;
    }

    #menu-toggle:checked + .menu-button-container .menu-button::before {
        margin-top: 0px;
        transform: rotate(405deg);
    }

    #menu-toggle:checked + .menu-button-container .menu-button {
        background: rgba(255, 255, 255, 0);
    }

    #menu-toggle:checked + .menu-button-container .menu-button::after {
        margin-top: 0px;
        transform: rotate(-405deg);
    }

    .menu-button-container {
        display: flex;
    }
    .menu {
        position: absolute;
        top: 0;
        margin-top: 120px;
        left: 0px;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color:#F9AD59;
    }
    .menu > li:not(:last-child) {
        border-bottom: 1px solid #444;
    }
}

@media all and (min-width:960px) and (max-width: 1024px) {

    .smartphoneLeftMenu {
        display: none;
    }

    .leftMenu {
        margin-left: 50px;
    }

    .rightMenu {
        margin-right: 50px;
    }
}

@media all and (min-width:1025px) {
    .smartphoneLeftMenu {
        display: none;
    }

    .leftMenu {
        margin-left: 200px;
    }

    .rightMenu {
        margin-right: 200px;
    }
}


nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

nav a {
    color: white;
    margin-right: 1rem;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/* Logo Styles */
.centerMenu {
    text-align: center;
    font-size: 0;
    color: #3C2C32;
}

.centerMenu img {
    width: 120px; /* Ajustez la largeur selon vos besoins */
    height: 120px; /* Ajustez la hauteur selon vos besoins */
    margin: 0; /* Réinitialise la marge du logo */
}

/*.menuDroite{*/
/*    width: 200px;*/
/*}*/

/* Content Section Styles */
.container {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 1rem;
}


.contIMG
{
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}



/* Footer Styles */
footer {
    margin-top: auto;
    background-color: #F9AD59;
    color: white;
    text-align: center;
    padding: 1rem;
}